.attackButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.attackButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (max-width: 428px) {
  .attackButton {
    width: 40%;
    padding: 6px 12px;
    font-size: 12px;
    margin: 2px 2px;
    border-radius: 8px;
  }
}
