.backButton {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #45a049;
}

@media screen and (max-width: 428px) {
  .backButton {
    padding: 6px 12px;
    font-size: 12px;
  }
}
